<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- execute pre-recorded motions -->
  <node pkg="reemc_bringup" type="motions_loader.py" name="motions_loader" />
  <node pkg="play_motion" type="play_motion" name="play_motion">
    <rosparam file="$(find reemc_bringup)/config/approach_planner.yaml" command="load" />
  </node>
  <node pkg="play_motion" type="is_already_there.py" name="is_already_there" />
</launch>
