<launch>
  <arg name="robot" default="full_ft_hey5"/>

  <!-- Load default controllers -->
  <include file="$(find reemc_controller_configuration)/launch/bringup_controllers.launch" />

  <!-- ros control monitor -->
  <node pkg="ros_control_monitor" type="ros_control_monitor_node" name="ros_control_monitor_node"/>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <!-- TF lookup -->
  <node pkg="tf_lookup" type="tf_lookup" name="tf_lookup" output="screen"/>

  <!-- Twist mux -->
  <include file="$(find reemc_bringup)/launch/twist_mux.launch" />

  <!-- Joystick controller -->
  <include file="$(find reemc_bringup)/launch/joystick_teleop.launch" />

  <!-- Motion planning -->
  <include file="$(find reemc_moveit_config)/launch/move_group.launch">
     <arg name="robot" value="$(arg robot)"/>
  </include>

  <!-- Pre-recorded motions executor -->
  <include file="$(find reemc_bringup)/launch/play_motion.launch" >
     <arg name="robot" value="$(arg robot)"/>
  </include>

  <!-- Sitting application requirements -->
  <include file="$(find reemc_bringup)/launch/chair_sit.launch" />

  <!-- Arm motions executor while walking -->
  <include file="$(find reemc_bringup)/launch/walk_pose.launch" >
    <arg name="robot" value="$(arg robot)"/>
  </include>

</launch>
