<launch>
  <!-- Load default controllers -->
  <include file="$(find reemc_controller_configuration)/launch/bringup_controllers.launch" />

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <!-- Twist mux -->
  <include file="$(find reemc_bringup)/launch/twist_mux.launch" />

  <!-- Joystick controller -->
  <include file="$(find reemc_bringup)/launch/joystick_teleop.launch" />

  <!-- Motion planning -->
  <include file="$(find reemc_moveit_config)/launch/move_group.launch"/>

  <!-- Pre-recorded motions executor -->
  <include file="$(find reemc_bringup)/launch/play_motion.launch" />

  <!-- Sitting application requirements -->
  <include file="$(find reemc_bringup)/launch/chair_sit.launch" />


</launch>
