<launch>
  <!-- Deployer -->
  <!--TODO-->

  <!-- Robot model -->
  <include file="$(find reemc_description)/robots/upload_reemc.launch" />

  <!-- Controller configuration -->
  <include file="$(find reemc_controller_configuration_gazebo)/launch/reemc_default_controllers.launch" />

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <!-- Joystick controller -->
  <include file="$(find reemc_bringup)/launch/joystick_teleop.launch" />

  <!-- Pre-recorded motions executor -->
  <include file="$(find reemc_bringup)/launch/play_motion.launch" />

  <!-- Sitting application requirements -->
  <include file="$(find reemc_bringup)/launch/chair_sit.launch" />

</launch>
