<launch>
  <!-- Walking controller parameters -->
  <include file="$(find reemc_controller_configuration)/launch/load_walking_params.launch" />

  <!-- Robot model -->
  <include file="$(find reemc_description)/robots/upload_reemc.launch" />

  <!-- Bring up robot -->
  <include file="$(find reemc_bringup)/launch/reemc_bringup.launch"/>
</launch>
