<launch>
  <!-- Joint state controller -->
  <rosparam command="load" file="$(find joint_state_controller)/joint_state_controller.yaml" />

  <!-- Force-torque sensors controller -->
  <rosparam command="load" file="$(find force_torque_sensor_controller)/force_torque_sensor_controller.yaml" />

  <!-- IMU sensors controller -->
  <rosparam command="load" file="$(find imu_sensor_controller)/imu_sensor_controller.yaml" />

  <!-- Controllers that come up started -->
  <node name="default_controllers_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="--timeout 120
              force_torque_sensor_controller
              imu_sensor_controller
              joint_state_controller" />

  <!-- Running the walking controller on the startup is still dangerous in the robot -->
  <!--include file="$(find reemc_controller_configuration)/launch/half_walking_half_jtc.launch" /-->
</launch>
