<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="robot" default="full"/>

  <!-- execute upperbody  motions while walking -->
  <rosparam command="load" file="$(find reemc_controller_configuration)/config/walk_poses_$(arg robot).yaml" />
  <node name="walk_pose" pkg="walking_utils" type="walk_pose" />
</launch>

