<?xml version="1.0"?>
<!--

  Copyright (c) 2011, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot name="reemc" xmlns:xacro="http://www.ros.org/wiki/xacro"
        xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
        xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
        xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <link name="pelvis">
    <inertial>
      <mass value="26.85"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0.0"/>
        <geometry>
          <box size="0.12 0.24 0.262"/>
        </geometry>

      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0.0"/>
        <geometry>
          <box size="0.12 0.24 0.262"/>
        </geometry>
      </collision>
  </link>

  <!-- The following included files set up definitions of parts of the robot body -->
  <xacro:include filename="$(find reemc_description)/urdf/leg/leg.urdf.xacro" />
  
  <!-- Generic simulator_gazebo plugins -->
  <xacro:include filename="$(find reemc_description)/gazebo/gazebo.urdf.xacro" />
  <!-- Materials for visualization -->
  <!--<xacro:include filename="$(find reemc_description)/urdf/materials.urdf.xacro" />-->


  <!-- Now we can start using the macros included above to define the actual robot -->
  <xacro:reemc_leg  name="leg" side="left" reflect="1.0" parent="pelvis"/>
  <xacro:reemc_leg  name="leg" side="right" reflect="-1.0" parent="pelvis"/>

 <gazebo>
    <!-- robot model offset -->
    <pose>0 0 0.95 0 0 0</pose>
  </gazebo>
</robot>


