<launch>
  <arg name="robot" default="full_ft_hey5"/>
  <arg name="head_version" default="v0"/>
  <arg name="leg_version"  default="v0"/>

  <!-- Robot description -->
  <param name="robot_description" command="xacro '$(find reemc_description)/robots/reemc_$(arg robot).urdf.xacro' head_version:=$(arg head_version) leg_version:=$(arg leg_version)"/>

  <!-- Joint limits -->
  <rosparam command="load" file="$(find reemc_description)/config/joint_limits.yaml"/>
</launch>
